@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300&family=Open+Sans:wght@400;500&family=Roboto:wght@300;400&display=swap");

:root {
    --primary: #1e4f9e;
    --secondary: #e93c05;
    --tertiary: #555555;
    --light: #dfe4fd;
    --dark: #011a41;
}

/* Width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

html {
    font-family: "Barlow", sans-serif;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

h1,
.h1,
h2,
.h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 600 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.text-subtitle {
    font-family: "Open Sans", sans-serif;
}

.text-justify {
    text-align: justify;
}

.shadow-blue {
    box-shadow: 5px 2px 10px 2px rgba(20, 115, 204, 0.446);
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    transition: 0.5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-whatsapp {
    background: #11883d;
    font-size: 18px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn-whatsapp:hover {
    background: #4caf50;
    color: #fff;
    transform: scale(1.1);
}

.btn-email {
    background: #db3838;
    font-size: 18px;
    color: #fff;
}

.btn-email:hover {
    background: #ff4501;
    color: #fff;
}

.btn-readmore {
    background: #2664e9;
    color: #fff;
}

.btn-readmore:hover {
    background: var(--primary);
    color: #fff;
}

.btn-download {
    font-size: 18px;
}

.btn-language {
    max-width: 70px;
    height: auto;
}

.pulse {
    animation-name: pulse-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(73, 250, 50, 0.952);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.pulse-blue {
    animation-name: pulse-blue-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}

.card-leaf {
    border-radius: 40px 15px 40px 5px;
}

@keyframes pulse-blue-animation {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(16, 84, 202, 0.952);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.section-padding {
    padding: 80px 0;
    overflow: hidden;
}

/*** Navbar ***/
.fixed-top {
    transition: 0.5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(53, 94, 252, 0.07);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 25px 15px;
    font-size: 1.3rem;
    color: #000;
    font-weight: 400;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.07);
        background: #ffffff;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: 0.5s;
        opacity: 0;
        font-size: 1.1rem;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}

.navbar .nav-item .dropdown-item {
    margin-top: 15px;
}

/*** Header ***/
.section-slider {
    background-image: url(../img/Bg.png);
    background-size: cover;
    background-position: center center;
}

.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: url(../img/header.jpg) top left no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-weight: 500;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--tertiary);
}

/*** Facts ***/
.facts {
    background: linear-gradient(rgba(53, 94, 252, 0.95),
            rgba(53, 94, 252, 0.95)),
        url(../img/bg.png);
}

/*** Callback ***/
.callback {
    position: relative;
}

.callback::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(53, 94, 252, 0.95),
            rgba(53, 94, 252, 0.95)),
        url(../img/bg.png);
    z-index: -1;
}

.callback-2 {
    position: relative;
}

.callback-2::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(53, 94, 252, 0.95),
            rgba(53, 94, 252, 0.95)),
        url(../img/bg.png);
    z-index: -1;
}

/* About */
.section-about {
    background-image: url(../img/bg.svg);
    background-size: cover;
    background-position: center center;
}

.vertical-column {
    border: 1px solid #ccc;
    border-radius: 40px 15px 40px 5px;
    box-shadow: 10px 5px 5px rgba(6, 110, 208, 0.446);
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}

/* Popular products */
.card .card-title {
    margin: 7px 0;
}

/* Products */
.card .product-image-card {
    height: 140px;
    width: 140px;
}

/* product detail */
.xzoom-container {
    text-align: center;
}

.main-image {
    display: inline-block;
    margin: 0 auto;
}

.main-image img {
    width: 360px;
    height: 360px;
    border-radius: 15px;
    overflow: hidden;
}

.xzoom-thumbs {
    text-align: center;
    margin-bottom: 10px;
}

.xzoom-gallery {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    margin: 0 8px;
    cursor: pointer;
}

/* Article */
.article-title {
    font-size: 2rem;
}

.article-image img {
    /* max-width: 430px; */
    max-width: 100%;
    /* Make sure the image doesn't exceed its container */
    height: auto;
    /* Maintain aspect ratio */
}

.article-description {
    font-size: 20px;
    color: #333333;
}

/*** Feature ***/
.feature .feature-box {
    border-radius: 40px 15px 40px 5px;
}

/*** Testimonial ***/
.testimonial-item {
    position: relative;
    text-align: center;
    padding-top: 30px;
}

.testimonial-item .testimonial-text {
    position: relative;
    text-align: center;
}

.testimonial-item .testimonial-text .btn-square {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-item .testimonial-text::before {
    position: absolute;
    content: "";
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    border: 30px solid;
    border-color: var(--light) transparent transparent transparent;
}

.testimonial-item .testimonial-text::after {
    position: absolute;
    content: "";
    bottom: -59px;
    left: 50%;
    transform: translateX(-50%);
    border: 30px solid;
    border-color: #ffffff transparent transparent transparent;
}

/*** Career ***/
.career-item {
    position: relative;
    padding-top: 30px;
}

.career-item .career-text {
    position: relative;
}

.career-item .career-text .btn-square {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

/*** Career ***/
.contact-item {
    position: relative;
    padding-top: 30px;
}

.contact-item .contact-text {
    position: relative;
}

.contact-item .contact-text .btn-square {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.contact-item .contact-text a {
    text-decoration: none;
    color: #000b1c;
}

.contact-item a.btn-details {
    text-decoration: none;
    color: #fff;
}

/* Gallery */
.gallery .gallery-buttons a {
    background-color: #0f6fd5;
    color: #fff;
    padding: 10px;
    margin: 5px;
}

.gallery .gallery-buttons a:hover {
    background-color: #e7810c;
    color: #fff;
    padding: 10px;
    margin: 5px;
}

.gallery .gallery-buttons .active {
    background-color: #e7810c;
}

.gallery .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.gallery .gallery-container .card {
    color: #252a32;
    border-radius: 2px;
    background: #ffffff;
    box-shadow: 5px 5px 5px rgba(6, 110, 208, 0.446);
    border-radius: 10px;
}

.gallery .gallery-container .card-image {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 70%;
    background: #ffffff;
    border-radius: 10px;
}

.gallery .gallery-container .card-image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .gallery .gallery-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}

/* FAQ */
.accordion .accordion-item {
    background-color: #eceff6;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.accordion .accordion-item .accordion-button {
    border-radius: 15px;
}

/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: 0.3s;
    text-decoration: none;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: var(--light);
    background: #000b1c;
}

.copyright a {
    color: var(--light);
}

.copyright a:hover {
    color: var(--primary);
}

/* media query */
@media (min-width: 425px) {
    .article-title {
        font-size: 1.2rem;
    }
}

/* For screens with a width below 425px */
@media (max-width: 424px) {
    .article-title {
        font-size: 1.2rem;
    }
}

@media (min-width: 576px) {
    .article-title {
        font-size: 1.4rem;
    }

    .article-image img {
        max-width: 60%;
        /* Adjust the max-width as needed */
    }
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .article-title {
        font-size: 1.5rem;
    }

    .article-image img {
        max-width: 70%;
        /* Adjust the max-width as needed */
    }
}

/* Media query for even larger screens */
@media (min-width: 992px) {
    .article-title {
        font-size: 1.7rem;
    }

    .article-image img {
        max-width: 50%;
        /* Adjust the max-width as needed */
    }
}

/* Media query for extra-large screens */
/* @media (min-width: 1200px) {
    .article-image img {
        max-width: 40%;
    }
} */